@model ProjectTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Completed By</th>
                    <th>Component</th>
                    <th>Description</th>
                    <th>Time</th>
                </tr>
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateEntered)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompletedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Component)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hours)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
